.footerbar {
  display: flex;
  background-color: #f6f7f9;
  justify-content: center;
  height: 200px;
}
.footer-about {
  margin-right: 60px;
}
.footer-menu {
  margin-right: 60px;
}
.footer-learn {
  margin-right: 60px;
}

.footer-title {
  font-size: 12px;
  color: #3f3f3f;
}
.footer-menu-item {
  font-size: 12px;
  color: #3f3f3f;
}
.footer-learn-item {
  font-size: 12px;
  color: #3f3f3f;
}
.footer-menu-item {
  font-size: 12px;
  color: #3f3f3f;
}
.footer-address-item {
  font-size: 12px;
  color: #3f3f3f;
}
.footer-about-item {
  font-size: 12px;
  color: #3f3f3f;
}
